<form [formGroup]="form" class="form mt-3" (submit)="submit()">
    <div class="form-group">
        <select class="form-control" formControlName="recipe_list_id">
            <option value="" disabled selected hidden>Choose a list</option>
            <option *ngFor="let list of lists" [value]="list.id">
                {{ list.title }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <input type="hidden" formControlName="recipe_id" class="form-control">
    </div>
    <button class="btn btn-sm btn-primary btn-block">Add to list</button>
</form>