<div class="jumbotron" *ngIf="!user">
    <h1>Welcome</h1>
    <p class="lead">Register or login to create your lists of favourite recipes!</p>
    <a routerLink="/register" class="btn btn lg btn-primary">Sign up here</a>
</div>

<div class="jumbotron" *ngIf="user">
    <h1>Here's some inspiration!</h1>
    <p class="lead">Or use search to find more recipes</p>
</div>


<div class="card-wrapper">
    <div class="recipe-card" *ngFor="let recipe of recipes">
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
</div>