<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="nav-item-container">
        <app-search-bar></app-search-bar>
    </div>
    <div class="nav-item-container">
        <div class="navbar-nav">
            <a routerLink="/" class="nav-link">Home</a>
        </div>
        <div class="navbar-nav" *ngIf="!user">
            <a routerLink="/register" class="nav-link">Register</a>
        </div>
        <div class="navbar-nav" *ngIf="!user">
            <a routerLink="/login" class="nav-link">Login</a>
        </div>
        <div class="navbar-nav" *ngIf="user">
            <a routerLink="/secure" class="nav-link">Your lists</a>
        </div>
        <div class="navbar-nav" *ngIf="user">
            <button class="btn btn-sm btn-primary" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>